var errors = ""
<% if @salary.errors.any? %>
	<% @salary.errors.full_messages.each do |m| %>
		errors += "<div class='notice alert-danger'><%= escape_javascript(m)%></div>" 
		<% end %>	
		$("#helpBlock").html(errors);
<% else %>
$(".salary_details").html("<%= escape_javascript(render 'index') %>")
<% end %>