<h2 class="header">index page of salary</h2>
<%# if check_admin %>
<div class="container" id="salary_index">
	<table class="table table-bordered" >
		<thead>
			<tr>
				<th>No.</th>
				<th>Employee UserName</th>
				<th>Employee Email</th>
				<th colspan="2"><center>Actions</center></th>
			</tr>
		</thead>
    <tbody class="salary_details">
			<%= render 'index' %>	
	</tbody>
	</table>
</div>
<%# end %>