<div class="modal-dialog">
  <div class="modal-content">
	  <div class="modal-header" >
	  	<h3><%= @leave.Start_Date %> to <%= @leave.End_Date %> is <%= @leave.status %>.</h3>
	  	<div class="btn btn-default"><%= link_to "Back", leave_index_path %></div>
	  </div>
	</div>
</div>
