<% if @leave.errors.any? %>
	<% @leave.errors.full_messages.each do |m| %>
		$("#helpBlock").append("<div class='notice alert-danger'><%= escape_javascript(m)%></div>");		
	<% end %>
<% else %>
	$(".leave_details").html("<%= escape_javascript(render 'index') %>")
	$("#leave-modal").modal("hide")
<% end %>