<h2 class="header">Leave Details</h2>

<%= link_to "Apply For Leave", new_leave_path, remote: true, :class=>"new_link" %>
<br>
<br>
<div class="container" id="index_leave">
	<table class="table table-bordered" >
		<thead>
			<tr>
				<th>No.</th>
				<th>Start Date</th>
				<th>End Date</th>
				<th>Reason</th>
				<th>Status</th>
				<th colspan="3"><center>Actions</center></th>
			</tr>
		</thead>
    <tbody class="leave_details">
    	<%= render 'index' %>
		</tbody>
	</table>
</div>

<div id="leave-modal" class="modal fade"></div>