<div class="row">
  <div class="col-md-6 col-md-offset-3" >
    <%= form_for(@designation, url: designation_path(params[:id]))	do |f| %>
      <%= f.label :Post %>
      <%= f.text_field :post, class: 'form-control' %>
      <br>
      <%#= f.hidden_field :department_id, value:  %>
      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>