<div class="row">
  <div class="col-md-6 col-md-offset-3" >
    <%= form_for(Designation.new,url: designation_index_path ) do |f| %>
      <%= f.label :Post %>
      <%= f.text_field :post, class: 'form-control' %>
      <br>
      <%#= f.hidden_field :department_id, value: @deparment.id %>
      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>